/* Set background color */
body {
    background-color: #ff99cc;
}

/* Hide the footer */
.site-footer .footer-col-wrapper, 
.site-footer .footer-content, 
.site-footer .footer-text {
    display: none !important;
    visibility: hidden;
    opacity: 0;
}
